<nb-layout-column>
  <nb-card class="main-card">
    <nb-card-header>
      <h1>Hello, {{user?.firstName}}</h1>
      <h5>What would you like to do?</h5>
    </nb-card-header>
    <nb-card-body class="actions-container">
      <nb-card class="action-card" [routerLink]="'/admin/product/add'">
        <nb-card-header>
          <h3>Add a new product</h3>
        </nb-card-header>
        <nb-card-body class="action-content">
          <nb-icon icon="plus-square" class="action-icon"></nb-icon>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
</nb-layout-column>
